* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Karla', sans-serif;
 }
 
.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #478A90;
    color: white;
    border-bottom: 1px solid gray;
}

.searchForm h1 {
    font-weight: 700;
    color: white;
}

.row-1 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row-2 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    height: 40px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.results-container-song-grid {
    margin-top: 40px;
    width: 100%;
    background-color: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 35px;
    align-items: flex-start;
    justify-content: center;
}

.results-container-song-list {
    margin-top: 40px;
    width: 100%;
    background-color: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }
 
 .result-song-grid {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
    font-size: 7.5px;
 }

.result-song-grid img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.result-song-grid h3 {
    font-size: 15px;
    margin-top: 5px;
    word-wrap: break-word
}

.result-song-grid h4 {
    font-size: 10px;
    margin-top: 5px;
    color: #5EA2A3;
    word-wrap: break-word
}

.result-song-list {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
    font-size: 7.5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #5EA2A3;
}

.result-song-list img {
    margin-right: 20px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.result-song-list h3 {
    max-width: 210px;
    font-size: 15px;
    margin-right: 20px;
}

.result-song-list h4 {
    max-width: 100px;
    font-size: 10px;
    color: #5EA2A3;
    word-wrap: break-word
}

.results-container-music-video-grid {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
 }

.result-music-video-grid {
    max-width: 300px;
}

.result-music-video-grid img {
    border-radius: 5px;
    height: 150px;
    width: 300px;
    cursor: pointer;
}

.result-music-video-grid h3 {
    margin-top: 5px;
    word-wrap: break-word;
    font-size: 15px;
}

.result-music-video-grid h4 {
    margin-top: 5px;
    font-size: 10px;
    color: #5EA2A3;
    word-wrap: break-word
}

.results-container-music-video-list {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

.result-music-video-list {
    width: 400px;
    display: flex;
    align-items: center;
    font-size: 7.5px; 
    border-bottom: 1px solid #5EA2A3;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.result-music-video-list img {
    border-radius: 5px;
    margin-right: 25px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.result-music-video-list h3 {
    max-width: 150px;
    margin-right: 25px;
    font-size: 15px;
}

.result-music-video-list h4 {
    max-width: 100px;
    font-size: 10px;
    color: #5EA2A3;
}

.media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-button {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    color: #FAF8F9;
    background-color: #5EA2A3;
    border: 1px solid #FAF8F9;
    border-radius: 30px;
    cursor: pointer;
}

.media-button-selected {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    color: #5EA2A3;
    background-color: #FAF8F9;
    border: 1px solid #FAF8F9;
    border-radius: 30px;    
}

.display-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-button {
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: #FAF8F9;
    background-color: #5EA2A3;
    border: 1px solid #FAF8F9;
    border-radius: 30px;
    cursor: pointer;
}

.display-button-selected {
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: #5EA2A3;
    background-color: #FAF8F9;
    border: 1px solid #FAF8F9;
    border-radius: 30px;    
}

.display-button i {
    pointer-events: none;
}

.expand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    height: auto;
}

.expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #478A90;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 40px;
    cursor: pointer;
}

.expand-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #478A90;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 40px;
    cursor: pointer;   
}

.expand-loading i {
    animation: expand-loading-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.noResults-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.noResults-container h1 {
    color: #478A90;
}

@keyframes expand-loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

 /* Recommended colour scheme 
    #478A90
    #5EA2A3
    #FAF8F9
    #ADD2CA
 */

/* MOBILE CSS */

@media (max-width: 600px) {
    .searchForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0px;
        background-color: #478A90;
        color: white;
        border-bottom: 1px solid gray;
    }

    .searchForm h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search-bar {
        width: 80%;
        margin-bottom: 5px;
    }

    .media-buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .media-button {
        margin: 0px;
    }

    .media-button-selected {
        margin: 0px;
    }

    .row-1 {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .row-2 {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    .results-container-song-grid {
        margin-top: 40px;
        width: 100%;
        background-color: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 35px;
        align-items: flex-start;
        justify-content: center;
    }

    .results-container-song-list {
        margin-top: 40px;
        width: 80%;
        background-color: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
     }
    
    .result-song-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 15px;
        font-size: 7.5px;
        margin-bottom: 15px;
        border-bottom: 1px solid #5EA2A3;
    }

    .results-container-music-video-grid {
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        align-items: flex-start;
        justify-content: center;
    }

    .results-container-music-video-grid {
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
        align-items: flex-start;
        justify-content: center;
     }
    
    .result-music-video-grid {
        max-width: 150px;
    }
    
    .result-music-video-grid img {
        border-radius: 5px;
        height: 75px;
        width: 150px;
        cursor: pointer;
    }
    
    .result-music-video-grid h3 {
        margin-top: 5px;
        word-wrap: break-word;
        font-size: 10px;
    }
    
    .result-music-video-grid h4 {
        margin-top: 5px;
        font-size: 7.5px;
        color: #5EA2A3;
        word-wrap: break-word
    }

    .results-container-music-video-list {
        margin-top: 40px;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
     }

     .result-music-video-list {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 7.5px; 
        border-bottom: 1px solid blue;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
}
